.body {
    background-color: black;
}

.container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 200px);
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


