.body {
    max-width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.header,
.footer {
    height: 10vh;
    background-color: rgb(210, 208, 203);
}

.header {
    display: block;
    padding: 10px;
}

.sectionflex {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 60vw;
    justify-content: center;
    background-color: rgba(243, 234, 222, 0.758);
}

@media screen and (max-width: 767px)  {
    .sectionflex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.3em;
        width: 100%;
    }
}

.flexp {
    width: 45%;
    margin: 10px;
    background-color: rgb(242, 213, 182);
}
@media screen and (max-width: 767px)  {
    .flexp {
        width: 90%;
        height: 20%;
        margin: 0%;
    }
}

.flexp3 {
    justify-content: center;
    width: 80%;
    background-color: rgb(242, 213, 182);
}
@media screen and (max-width: 767px)  {
    .flexp3 {
        width: 90%;
        height: 20%;
        margin: 0%;
    }
}

.flexh2 {
    justify-content: center;
    width: 80%;
}

.asideflex {
    position: absolute;
    width: 40%;
    height: 50vh;
    right: 0;
    top: 12.5vh;
    background-color: rgb(222, 253, 235);
}

@media screen and (max-width: 767px)  {
    .asideflex {
        position: static;
        width: 100%;
        height: 50vh;
    }
}

.footer {
    clear: both;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

@media screen and (max-width: 767px) {
    .footer {
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       height: 50vh;
    }
}

a {
    background-color: aliceblue;
    width: 23%;
    height: 15vh;
    flex-grow: 0;
    padding-top: 14px;
}

@media screen and (max-width: 767px) {
    a {
        width: 49%;
    }
}